<div class="p-[25px] sm:p-[20px] lg:p-[25px] lg:pb-[30px] drop-shadow-[0px_2px_15px_rgba(0,0,0,0.1)] bg-[#FFFDFC] rounded-[5px] flex flex-col">
    <img class="self-center xl:mb-0 w-full" src="assets/images/brands/brand@@image.png" alt="brand logo">
    <div class="flex-1 mt-[15px]">
        <div class="sm:flex flex-wrap md:items-center md:justify-center flex-col text-center">
            <h4 class="font-lora text-primary text-[22px] lg:text-[28px]">@@title<span class="text-secondary">.</span></h4>
            <span class="underline text-secondary font-light block mb-[10px]">@@address</span>
            <p class="mb-[15px] xl:mb-[30px] font-lora text-primary text-[16px]">@@type</p>
            <a href="agency-details.html" class="inline-block before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[20px] py-[15px] capitalize font-medium text-white text-center text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all">View Details</a>
        </div>
    </div>
</div>