<div class="mb-[30px] relative">
    <div class="group text-center">
        <a href="agency.html" class="block">
            <img src="assets/images/properties-grids/properties@@image.png" class="w-full h-full rounded-[6px]" loading="lazy" alt="@@title">
            <div class="bg-[rgb(255,253,252,0.9)] max-w-[180px] rounded-[6px] px-[5px] py-[15px] group-hover:bottom-[25px] transition-all absolute bottom-[25px] left-[25px] right-[25px]">
                <span class="font-lora font-normal text-[18px] text-primary group-hover:text-secondary transition-all leading-none">@@title</span>
                <p class="font-light text-[14px] capitalize text-secondary group-hover:text-primary transition-all leading-none">@@type</p>
            </div>
        </a>
    </div>
</div>

